@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";

@import "@fontsource/manrope/400.css";
@import "@fontsource/manrope/500.css";
@import "@fontsource/manrope/600.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

@layer base {
  :root {
    --sl-font: 'Inter', system-ui, sans-serif;

    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
    }
  }

  .sl-markdown-content {
    font-family: 'Inter', system-ui, sans-serif;
  }

  .sl-markdown-content :is(h1,h2,h3,h4,h5,h6) {
    font-family: 'Manrope', system-ui, sans-serif;
  }
}

/* Light mode */
:root[data-theme='light'],
html[data-theme='light'] {
  --sl-color-accent: #0B95BB;      /* primary (links, icons) */
  --sl-color-accent-low: #e6f6fb;  /* subtle bg (badges/hover backgrounds) */
  --sl-color-accent-high: #007A98; /* primary dark (hover/active) */
}

/* Dark mode */
:root[data-theme='dark'],
html[data-theme='dark'] {
  --sl-color-accent: #0B95BB;      /* primary (links, icons) */
  --sl-color-accent-low: #062a33;  /* subtle bg in dark UI */
  --sl-color-accent-high: #0EB0DC; /* primary light */
}
