@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";

@import "@fontsource/manrope/400.css";
@import "@fontsource/manrope/500.css";
@import "@fontsource/manrope/600.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

@layer base {
  :root {
    --sl-font: 'Inter', system-ui, sans-serif;
    /* --sl-font-weight-heading: 400; */

    h1, h2, h3, h4, h5, h6 { font-weight: 400; }
  }

  /* Body text */
  .sl-markdown-content {
    font-family: 'Inter', system-ui, sans-serif;
  }

  /* Nadpisy */
  .sl-markdown-content :is(h1,h2,h3,h4,h5,h6) {
    font-family: 'Manrope', system-ui, sans-serif;
    /* font-weight: 200; */
  }
}